version: "3.9"
services:
  
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

    
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    depends_on:
      - db
    environment:
      DB_CONN : postgres://admin:admin@db:5432/appdb?sslmode=disable
    ports:
      - "8081:8081"
    
volumes:
  pgdata: