name: Cloud App CI Pipeline

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:

    build:
        runs-on: ubuntu-latest

        steps:

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25"
            
            - name: Install dependencies
              run: go mod tidy 

            - name: Build Go app
              run: go build ./cmd

            - name: Build Docker image
              run: docker build -f docker/Dockerfile -t cloud-api .

            - name: Docker image check
              run: docker images
              
